<a href="https://colab.research.google.com/github/tswiger34/GDAC/blob/main/CodeFile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cleaning (**Do not edit**)
Lets load in the data

In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
import pandas as pd
df = pd.read_csv("/content/gdrive/My Drive/2023 Super Bowl Ad Competition/2023 Data/gd_tweets_2023_FULL.csv")

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (9,19,34,35,36,37,38,39,40,41,42) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

## Check the packaging

In [ ]:
print(df.head())

Check dtypes

Check N's

In [ ]:
print(df.info())

In [ ]:
df.isnull().sum()

## The rest of this should depend of our question

Lets remove all columns with over 40,000 null observations.

In [ ]:
labels = df.isnull().sum()[df.isnull().sum() > 40000].index
df.drop(labels, axis=1, inplace=True)
print(df.head())

Lets check how nulls look like now.

In [ ]:
print(df.isnull().sum())

Lets drop the few NA observations left

In [ ]:
df.dropna(inplace=True)
print(df.isnull().sum())

Lets reset the index so that we can easily access good pandas functionality of DateTime

In [ ]:
df["timestamp"] = df["timestamp"].apply(lambda x: pd.to_datetime(x))

Let's set the index to timestamp

In [ ]:
df.set_index("timestamp", inplace=True)
print(df.head())

Lets convert the created at column into pd.datetime

In [ ]:
df["created_at"] = df["created_at"].apply(lambda x: pd.to_datetime(x))
print(df["created_at"].head())

Lets convert the edit_controls.editable_until to pd.datetime

In [ ]:
df["edit_controls.editable_until"] = df["edit_controls.editable_until"].apply(lambda x: pd.to_datetime(x))
print(df["edit_controls.editable_until"].head())

Note: The time is in UTC (Check if this is good)

Export the data.

In [ ]:
df.to_csv("Clean.csv")

In [ ]:
from google.colab import files
files.download('Clean.csv')

Further Data Cleaning:
Only inlcude english tweets
Turn it into brand level granularity

In [ ]:
import pandas as pd
df2 = pd.read_csv('/content/gdrive/MyDrive/2023 Data/Clean.csv')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1915680 entries, 0 to 1915679
Data columns (total 25 columns):
 #   Column                           Dtype
---  ------                           -----
 0   timestamp                        object
 1   team_name                        object
 2   time_period_of_the_game          object
 3   brand_ad_name                    object
 4   keywords                         object
 5   edit_history_tweet_ids           object
 6   conversation_id                  float64
 7   reply_settings                   object
 8   created_at                       object
 9   possibly_sensitive               bool
 10  id                               float64
 11  author_id                        float64
 12  lang                             object
 13  text                             object
 14  edit_controls.edits_remaining    float64
 15  edit_controls.is_edit_eligible   bool
 16  edit_controls.editable_until     object
 17  public_metrics.retweet_count     float64
 18  public_metrics.reply_count       float64
 19  public_metrics.like_count        float64
 20  public_metrics.quote_count       float64
 21  public_metrics.impression_count  float64
 22  name                             object
 23  username                         object
 24  keyword                          object
dtypes: bool(2), float64(9), object(14)
memory usage: 339.8+ MB

In [ ]:
# Divy's directory
import pandas as pd
df2 = pd.read_csv('/content/gdrive/MyDrive/2023 Super Bowl Ad Competition/2023 Data/Clean.csv')

For the love of god do not show this next block of code, it is unholy

In [ ]:
df2 = df2.loc[df2['lang']=='en']
df2.dropna(inplace=True)
df2['brand_ad_name'] = df2['brand_ad_name'].apply(lambda x: str.lower(x))
# df2 = df2.drop(['team_name', 'time_period_of_the_game', 'keywords', 'edit_history_tweet_ids', 'conversation_id', 'reply_settings', 'created_at' ], axis='columns')
# df2 = df2.drop(['possibly_sensitive', 'edit_controls.edits_remaining', 'edit_controls.editable_until', 'keyword'], axis='columns')
# df2 = df2.drop(['edit_controls.is_edit_eligible'], axis = 'columns')
df3 = df2

# Ram
mask = df3['brand_ad_name'].str.contains('premature')
df3.loc[mask, 'brand_ad_name'] = 'Pre-Mature Electrification'
mask = df3['brand_ad_name'].str.contains('kia')
df3.loc[mask, 'brand_ad_name'] = 'Kia'
# Jesus
mask = df3['brand_ad_name'].str.contains('he gets us')
df3.loc[mask, 'brand_ad_name'] = 'Jesus'
mask = df3['brand_ad_name'].str.contains('jesus')
df3.loc[mask, 'brand_ad_name'] = 'Jesus'
#Google 
mask = df3['brand_ad_name'].str.contains('google')
df3.loc[mask, 'brand_ad_name'] = 'Google Pixel'
#Indiana Jones
mask = df3['brand_ad_name'].str.contains('indiana jones')
df3.loc[mask, 'brand_ad_name'] = 'Indiana Jones'
mask = df3['brand_ad_name'].str.contains('disney')
df3.loc[mask, 'brand_ad_name'] = 'Disney'
# Achtung U2
mask = df3['brand_ad_name'].str.contains('achtung')
df3.loc[mask, 'brand_ad_name'] = 'U2'
# Air
mask = df3['brand_ad_name'].str.contains('air')
df3.loc[mask, 'brand_ad_name'] = 'Air'
# U2
mask = df3['brand_ad_name'].str.contains('amazon')
df3.loc[mask, 'brand_ad_name'] = 'Amazon'
# Animal Control
mask = df3['brand_ad_name'].str.contains('animal')
df3.loc[mask, 'brand_ad_name'] = 'Animal Control'
# Avocados
mask = df3['brand_ad_name'].str.contains('avocados')
df3.loc[mask, 'brand_ad_name'] = 'Avocados from Mexico'
# BIC
mask = df3['brand_ad_name'].str.contains('bic')
df3.loc[mask, 'brand_ad_name'] = 'BIC'
# Booking.com
mask = df3['brand_ad_name'].str.contains('booking')
df3.loc[mask, 'brand_ad_name'] = 'Booking.com'
# Bud Light
mask = df3['brand_ad_name'].str.contains('bud light')
df3.loc[mask, 'brand_ad_name'] = 'Bud Light'
# Budweiser
mask = df3['brand_ad_name'].str.contains('budweis')
df3.loc[mask, 'brand_ad_name'] = 'Budweiser'
# Busch
mask = df3['brand_ad_name'].str.contains('busch')
df3.loc[mask, 'brand_ad_name'] = 'Busch'
# Capital One
mask = df3['brand_ad_name'].str.contains('capital one')
df3.loc[mask, 'brand_ad_name'] = 'Capital One'
# Temu
mask = df3['brand_ad_name'].str.contains('temu')
df3.loc[mask, 'brand_ad_name'] = 'Temu'
# WeatherTech
mask = df3['brand_ad_name'].str.contains('weathertech' or 'weather tech')
df3.loc[mask, 'brand_ad_name'] = 'WeatherTech'
# Crown Royal
mask = df3['brand_ad_name'].str.contains('crown royal')
df3.loc[mask, 'brand_ad_name'] = 'Crown Royal'
# Daytona 500
mask = df3['brand_ad_name'].str.contains('daytona')
df3.loc[mask, 'brand_ad_name'] = 'Daytona 500'
# Dexicom
mask = df3['brand_ad_name'].str.contains('dexcom' or 'dexicom')
df3.loc[mask, 'brand_ad_name'] = 'Dexicom'
# Dialpad
mask = df3['brand_ad_name'].str.contains('dial pad')
df3.loc[mask, 'brand_ad_name'] = 'Dial Pad'
# Michelob
mask = df3['brand_ad_name'].str.contains('michelob')
df3.loc[mask, 'brand_ad_name'] = 'Michelob Ultra'
# NFL
mask = df3['brand_ad_name'].str.contains('nfl')
df3.loc[mask, 'brand_ad_name'] = 'NFL'
# T-Mobile
mask = df3['brand_ad_name'].str.contains('t-mobile')
df3.loc[mask, 'brand_ad_name'] = 'T-Mobile'
# Pepsi
mask = df3['brand_ad_name'].str.contains('pepsi')
df3.loc[mask, 'brand_ad_name'] = 'Pepsi'
# Jeep
mask = df3['brand_ad_name'].str.contains('jeep')
df3.loc[mask, 'brand_ad_name'] = 'Jeep'
# Turbo Tax
mask = df3['brand_ad_name'].str.contains('turbo')
df3.loc[mask, 'brand_ad_name'] = 'Turb Tax'

In [ ]:
df3.head()

,timestamp,team_name,time_period_of_the_game,brand_ad_name,keywords,edit_history_tweet_ids,conversation_id,reply_settings,created_at,possibly_sensitive,...,edit_controls.is_edit_eligible,edit_controls.editable_until,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,public_metrics.quote_count,public_metrics.impression_count,name,username,keyword
0,2023-02-12 17:22:14,Grad 13 - Fantastic 4,Quarter 2,bass pro shops,50years,['1624986246140362754'],1.624796e+18,everyone,2023-02-13 04:18:06+00:00,False,...,False,2023-02-13 04:48:06+00:00,0.0,0.0,0.0,0.0,2.0,Hey Moon,HeyMon12924336,50years
1,2023-02-12 17:22:14,Grad 13 - Fantastic 4,Quarter 2,bass pro shops,50years,['1624986211768041472'],1.624986e+18,everyone,2023-02-13 04:17:58+00:00,False,...,True,2023-02-13 04:47:58+00:00,0.0,0.0,0.0,0.0,56.0,Tulsa Mayfest,mayfest,50years
2,2023-02-12 17:22:14,Grad 13 - Fantastic 4,Quarter 2,bass pro shops,50years,['1624968066030530562'],1.624968e+18,everyone,2023-02-13 03:05:52+00:00,False,...,False,2023-02-13 03:35:52+00:00,4.0,0.0,0.0,0.0,0.0,sposho,sposhy0007,50years
3,2023-02-12 17:22:14,Grad 13 - Fantastic 4,Quarter 2,bass pro shops,50years,['1624967894248439811'],1.624831e+18,everyone,2023-02-13 03:05:11+00:00,False,...,False,2023-02-13 03:35:11+00:00,0.0,1.0,0.0,0.0,7.0,convicted sez offender,subhuman356255,50years
5,2023-02-12 17:22:14,Grad 13 - Fantastic 4,Quarter 2,bass pro shops,50years,['1624964011933548545'],1.624538e+18,everyone,2023-02-13 02:49:45+00:00,False,...,False,2023-02-13 03:19:45+00:00,0.0,0.0,1.0,0.0,0.0,Free Will,freewill121,50years

In [ ]:
df3.info()

In [ ]:
df3.to_csv("Brand_Tweet_Level.csv")

In [ ]:
from google.colab import files
files.download('Brand_Tweet_Level.csv')

Lets Create a Brand Level Dataset

In [ ]:
sums_by_brand = df3.groupby('brand_ad_name')['public_metrics.impression_count', 'public_metrics.retweet_count', 'public_metrics.reply_count', 'public_metrics.like_count', 'public_metrics.quote_count'].sum()
tweet_cnt_brand = df3.groupby('brand_ad_name')['id'].count()

df_by_brand = pd.merge(sums_by_brand, tweet_cnt_brand, on='brand_ad_name')
df_by_brand.tail(20)

<ipython-input-23-bed8efeee400>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  sums_by_brand = df3.groupby('brand_ad_name')['public_metrics.impression_count', 'public_metrics.retweet_count', 'public_metrics.reply_count', 'public_metrics.like_count', 'public_metrics.quote_count'].sum()

,public_metrics.impression_count,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,public_metrics.quote_count,id
brand_ad_name,,,,,,
sotyktu,12460.0,3998.0,3.0,57.0,1.0,57
squarespace:the singularity,3966722.0,15720826.0,4931.0,53083.0,26765.0,25650
strays,11754.0,10563.0,25.0,391.0,4.0,345
subway: behind the greatest menu of all time,1360600.0,913958.0,813.0,9679.0,245.0,2835
super bowl,535.0,48.0,1.0,2.0,0.0,8
the farmer's dog forever,2147378.0,1021346.0,2275.0,26542.0,1263.0,5530
the masked singer,383270.0,33794.0,192.0,2859.0,28.0,738
tillamook cheddar,23079.0,0.0,28.0,114.0,2.0,63
toyota,811434.0,122938.0,1083.0,6833.0,112.0,1668
transformers,6333074.0,15160587.0,2912.0,90697.0,2161.0,14130
tubi,25346088.0,52554797.0,10829.0,344704.0,9334.0,42423
uber one: one hit for uber one,8681667.0,4465091.0,3250.0,61893.0,906.0,14019
ufirst,2835.0,45.0,1.0,21.0,0.0,11
universal trailer: fast x,2786173.0,6009240.0,1334.0,35201.0,977.0,5337
verizon,404904.0,93003.0,268.0,1246.0,27.0,495
vms,944433.0,50304.0,823.0,8383.0,81.0,2522
warner bros. trailer: the flash,26855487.0,494418768.0,23567.0,431634.0,5637.0,93942
workday: rock star,5219806.0,4836036.0,2055.0,29646.0,547.0,8781
wwe,5603579.0,4993965.0,2679.0,48643.0,971.0,10732
xfinity,2185346.0,23480.0,365.0,3212.0,134.0,1072

In [ ]:
df_by_brand.to_csv("Brand_Level.csv")
from google.colab import files
files.download('Brand_Level.csv')

Lets create sentiment scores for each brand

In [ ]:
import re
import pandas as pd
import matplotlib.pyplot as plt
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [ ]:
df = pd.read_csv('/content/gdrive/MyDrive/2023 Data/Clean.csv')

In [ ]:
endf = df.loc[df['lang']=='en']
df_txt = endf[['author_id', 'text']]
df_txt.head(5)

In [ ]:
df1=pd.DataFrame()
df1['row_id']=['99999999999']
df1['sentiment_type']='NA999NA'
df1['sentiment_score']=0

In [ ]:
sid = SentimentIntensityAnalyzer()
t_df = df1
for index, row in df_txt.iterrows():
    scores = sid.polarity_scores(row[1])
    for key, value in scores.items():
        temp = [key,value,row[0]]
        df1['row_id']=row[0]
        df1['sentiment_type']=key
        df1['sentiment_score']=value
        t_df=t_df.append(df1)